$number-bg: #252525;
$number-color: #7D26F4;

$txt-color: #fff;
$operation-bg: #996EF4;

$equals-btn: #7E30ED;

@mixin btn-size{
  width: 100px;
  height: 100px;
}

@mixin number-btn {
  background: $number-bg;
  color: $number-color;

  @include btn-size;

  font-size: 2rem;

  box-shadow: inset 6px 6px 10px 0 rgba(125, 38, 244, 0.2),
  inset -6px -6px 10px 0 rgba(125, 38, 244, 0.2);

  border-radius: 10px;
}

@mixin operation-btn {
  background: $operation-bg;
  color: $txt-color;

  @include btn-size;

  vertical-align: middle;

  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
  inset -6px -6px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.operation-button {
  @include operation-btn;
}

.util-button {
  @include operation-btn;
}


.number-button {
  @include number-btn;
}

.util-button2{
  @include number-btn;
}

.equals-button {
  background: $equals-btn;
  color: $txt-color;

  width: 100px;
  height: 200px;

  grid-row-start: span 3;
  border-radius: 10px;

  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
  inset -6px -6px 10px 0  rgba(0, 0, 0, 0.5);
}
