//base stylesheets
@use './theme/dark';
@use './theme/light';
@use './calculator/nav';
@use './calculator/panel';
@use './calculator/input';
@use './calculator/history-modal';
$bg-light: linear-gradient(to bottom, #B69DFB, #F2EFFE);
$text-color: #fff;

$history-txt: #7D7D7D;
$button-color: #252525;

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

@mixin flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin grid-row {
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(4, minmax(100px, 1fr));
  gap: 1rem;
}

@mixin grid-column {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  color: $text-color;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 550;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  @include flex-row;
  list-style: none;
}

button {
  border: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: 3.5rem;
  &:hover {
    cursor: pointer;
  }
}

//Containers
.container {
  .calculator {
    @include flex-column;
    margin: 1rem 0;
    gap: 2rem;
  }


}
.navbar {
  @include flex-row;
}

.input-container {
  @include flex-column
}

.panel {
  @include grid-row;
}

.row {
  @include grid-column;
  gap: 1rem;
}